* {
    margin: 0;
    padding: 0;
}

.header, .title, .hero {
    padding-left: 10%;
    padding-right: 10%;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1f2937;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1f2937;
}

.title-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    padding-bottom: 15px;
}

.title-left p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #e5e7eb;
}

.title-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title-right {
    width: 500px;
    height: 200px;
    background-color: purple;
}

button {
    max-width: 100px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.hero-image {
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 15px;
    margin-bottom: 10px;
    border-color: #3882f6;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

.content {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    color: #1f2937;
}

.quote {
    padding: 100px 33% 100px 33%;
    background-color: #e5e7eb;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    color: #1f2937;
    padding: 20px 20px 0px 0px;
}

.sign-up {
    background-color: #3882f6;
    margin: 100px 30% 100px 30%;
    display: flex;
    padding: 20px 50px 20px 50px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    color: white;
}

.sign-up button {
    width: 100px;
    border-color: white;
    border-width: 3px;
}

.sign-up-left {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: #1f2937;
    color: #e5e7eb;
}